.body {
    margin: 0 auto;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #85929E;
    margin: 0;
}

.header__title {
    padding: 50px 0;
    margin: 0;
}

.wrapp {
    display: flex;
    flex-grow: 1;
}

.main {
    background-color: #F5CBA7;
    margin: 0;
    flex-grow: 3;
    max-width: 75%;
}

.main__title {
    padding: 50px 0 220px;
    margin: 0;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 30px;
    gap: 30px 40px;    
}

.article {
    background-color: #D7BDE2;
    padding: 4% 20%;
}

.article_big {
    flex-basis: 100%;
}

.article__title {
    /* padding: 30px; */
    margin: 0;
}

.aside {
    background-color: #85C1E9;
    flex-grow: 1;
}

.aside__title {
    padding: 50px 0;
    margin: 0;

}

.footer {
    background-color: #85929E;
    padding: 30px 20px;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.section {
    background-color: #D5D8DC;
    /* min-width: 240px; */
    padding: 40px calc((12.5% - 107.5px) - 20px);
}

.section__title {
    margin: 0;
}