.body {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  /* background: linear-gradient(to right, #150531, #7e4dd5); */
  background-color: #46267e;
  border-radius: 5px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 1400px;
  z-index: 1;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 30px 0 30px 420px;
  width: 70%;
}

.main-nav__item {
  padding: 10px;
  background: linear-gradient(to right, #7e4dd5, #46267e);
  /* background-color: #7e4dd5; */
  /* background-color: #c9b1f3; */
  border: 1 solid #7e4dd5;
  border-radius: 20px;
  text-align: center;
}

.main-nav__item:hover {
  background: linear-gradient(to right, #46267e, #7e4dd5);
  transition: background 1.6s ease-in-out;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.h1 {
  font-family: "Cormorant Infant", "Times New Roman", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 86px;
  text-align: center;
  margin: 100px 0 60px;
}

.word:hover {
  color: #fff;
  transition: 0.5s ease-in-out;
}

/* .container {
  width: 1252px;
  height: 952px;
  margin: 0 auto;
  display: flex;
  gap: 20px 20px;
  flex-direction: column;
  flex-wrap: wrap;
} */

.container {
  width: 1264px;
  margin: 0 auto;
  position: relative;
}

img:nth-child(2) {
  left: 320px;
}

img:nth-child(3) {
  right: 0;
}

img:nth-child(4) {
  right: 320px;
  top: 640px;
}

img:nth-child(5) {
  top: 320px;
}

img:nth-child(6) {
  top: 640px;
  right: 0;
}

.image {
  object-fit: contain;
  width: 300px;
  height: 300px;
  border: 2px solid #d4d4d4;
  position: absolute;
}

.image_big {
  width: 620px;
  height: 620px;
}

.image:hover {
  filter: blur(5px);
  transition: 0.5s ease-in-out;
}
